<ion-header>
  <ion-toolbar>
    <ion-title>Денне споживання води</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="selectedMode" (ionChange)="changeMode(selectedMode)">
  <ion-segment-button value="day">
    DAY
  </ion-segment-button>
  <ion-segment-button value="week">
    WEEK
  </ion-segment-button>
  <ion-segment-button value="month">
    MOUNTH
  </ion-segment-button>
</ion-segment>

<ion-content>
  <div style="position: relative; height: 400px;">
    <canvas id="waterConsumptionChart"></canvas>
  </div>
</ion-content>


