<ion-content class="ion-padding">
  
  <h2>Statistics</h2>

  <ion-segment [(ngModel)]="selectedMode" (ionChange)="changeMode(selectedMode)">
    <ion-segment-button value="day">
      DAY
    </ion-segment-button>
    <ion-segment-button value="week">
      WEEK
    </ion-segment-button>
    <ion-segment-button value="month">
      MONTH
    </ion-segment-button>
  </ion-segment>

  <div style="position: relative; height: 400px;">
    <canvas id="waterConsumptionChart"></canvas>
  </div>
  
  <ion-item>
    <ion-label>
      <ng-container *ngIf="selectedMode === 'day'">Total water today</ng-container>
      <ng-container *ngIf="selectedMode === 'week'">Total water this week</ng-container>
      <ng-container *ngIf="selectedMode === 'month'">Total water this month</ng-container>
    </ion-label>
    <ion-text slot="end">{{ totalConsumption.toFixed(2) }} ml</ion-text>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <ng-container *ngIf="selectedMode === 'day'">Average per hour</ng-container>
      <ng-container *ngIf="selectedMode === 'week'">Average per day (week)</ng-container>
      <ng-container *ngIf="selectedMode === 'month'">Average per day (month)</ng-container>
    </ion-label>
    <ion-text slot="end">{{ averageConsumption.toFixed(2) }} ml</ion-text>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <ng-container *ngIf="selectedMode === 'day'">Drinks per hour</ng-container>
      <ng-container *ngIf="selectedMode === 'week'">Drinks per day</ng-container>
      <ng-container *ngIf="selectedMode === 'month'">Drinks per day (month)</ng-container>
    </ion-label>
    <ion-text slot="end">{{ consumptionFrequency.toFixed(2) }}</ion-text>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <ng-container *ngIf="selectedMode === 'day'">Daily goal completion</ng-container>
      <ng-container *ngIf="selectedMode === 'week'">Weekly goal completion</ng-container>
      <ng-container *ngIf="selectedMode === 'month'">Monthly goal completion</ng-container>
    </ion-label>
    <ion-text slot="end">{{ goalAchievement.toFixed(2) }}%</ion-text>
  </ion-item>
  

</ion-content>
