<ion-content class="ion-padding">
  
    <h2>Current Hydration</h2>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ideal Water Intake</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-icon name="medal-outline" style="zoom:2.0;"></ion-icon>
              <h2>{{ idealWaterIntake }} ml</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
    
        <ion-col size="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Water Intake Goal</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-icon name="water-outline" style="zoom:2.0;"></ion-icon>
              <h2>{{ hydrationGoal }} ml</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <div class="chart-container">
      <canvas id="hydrationChart"></canvas>
      <div class="chart-info">
        <div class="percentage">{{ (currentHydration / hydrationGoal * 100) | number:'1.0-0' }}%</div>
        <div class="remaining">
          {{ currentHydration + '/' + hydrationGoal + 'ml' }}
        </div>
      </div>
    </div>
    

    <h3 style="text-align: center;">Recently added</h3>
    <hr style="border: 0; height: 2px; background: #545454; margin-top: 10px;">

    <div class="recent-drinks">
      <ion-list>
        <ion-item *ngFor="let entry of drinkArray.slice(0, 3)">
          <ion-label>
            {{ entry.amount }} ml
            <p>{{ entry.timestamp | date:'shortTime' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  
    <div style="margin-top: 20px;">
      <ion-button color="primary" expand="block" (click)="showInputPrompt()">Add drink</ion-button>    
    </div>
 
</ion-content>
